h2 {
	font-size: 2em;
}

body {
	background: #ececec;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

#sapper {
	height: 100%;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	font-size: 1.1em;
}

@media screen and (min-width: 691px) {
	#sapper {
		display: grid;
		grid-template-columns: 12em 1fr;
	}
}

a {
	text-decoration: none;
}

article {
	background: white;
	padding: 1em;
	margin: 1em;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.loading {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

table {
	width: 100%;
	border-collapse: collapse;
}
th {
	text-align: left;
}
tr {
	border: solid;
	border-width: 1px 0;
	border-color: rgba(0, 0, 0, 0.14);
}
tr:first-child {
	border-top: none;
}
tr:last-child {
	border-bottom: none;
}

input {
	border: none;
	border-radius: 4px;
	padding-left: .5rem;
}

button {
	outline: none;

	display: inline-block;
	margin: 6px;
	line-height: 1.42;
	font-weight: normal;
	cursor: pointer;
	font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
	user-select: none;
	vertical-align: bottom;
	transition: box-shadow 0.2s, transform 0.2s, color 0.2s;

	font-size: 12pt;
	padding: .5rem 1rem;
	border: none;
	border-radius: 2px;
	box-shadow: 0 3px 0 0 #b7c3d1, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
	background-color: #E6EAEF;
	background-image: linear-gradient(-45deg, #E6EAEF, #e4edf1);
	color: #252730;
}
button[disabled] {
	background: #d8d8d8;
	color: #9b9b9b;
	box-shadow: none;
	cursor: not-allowed;
}
button:active {
	transform: translateY(3px);
	box-shadow: 0 0px 0 0 #b7c3d1, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
	transition: 0s;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.profile {
	display: flex;
	justify-content: center;
}
.avatar {
	height: 200px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}
.avatar:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media screen and (max-width: 690px) {
	.profile {
		flex-direction: column;
	}
	.avatar {
		width: 200px;
	}
}

@media screen and (max-width: 690px) {
	.hide-phone {
		display: none;
	}
}

ul {
	list-style: none;
}

.flex {
	display: flex;
}
.flex-1 {
	flex: 1;
}
.nowrap {
	white-space: nowrap;
}
.center {
	text-align: center;
}

.page-enter-active, .page-leave-active {
	transition: all 0.3s ease;
}

.page-enter, .page-leave-to {
	opacity: 0;
	transform: translateX(300px);
}

.sup {
	vertical-align: super;
}

i {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}